.
..
btop
go
htop
mozilla
pulse
yay
Code
'Code - OSS/'
dconf
Code - OSS/
autostart/
freerdp/
remmina/
dolphinrc
session/
libreoffice/
Thunar/
baloofilerc
xfce4/
QtProject.conf
katevirc
kwriterc
Notion/
KDE/
Trolltech.conf
baloofileinformationrc
bluedevilglobalrc
breezerc
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcmfonts
kcminputrc
kconf_updaterc
kded5rc
kded6rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
konsolerc
konsolesshconfig
krdpserverrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
okularpartrc
okularrc
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
sddmthemeinstallerrc
spectaclerc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
xsettingsd/
